.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: ww;
    height: 60px;

    padding: 0 20px;

    border: 1px solid black;
}

.main-badge {
    height: 33px;

    background-color: white;
}