.cart-button {
    display: flex;
    align-items: center;
    color: white;

    border-radius: 8px;
    background-color: #54B46A;

    padding: 10px 40px;
    gap: 15px;

    &__text {
        font-weight: 600;
        // margin-right: 12px;
    }
}