.stepper-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    box-sizing: border-box;
    
    border-radius: 8px;

    padding: 0;
    margin: 0;

    font-size: 30px;

    transition: box-shadow 0.15s ease-in-out;

    &:hover {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    }

    &:active {
        transition: box-shadow 0.15s ease-in-out;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.250);
    }
}